*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style:normal;
    text-align: justify;
    color:#19171A
}
/*barra de navegação */
.navbar{
    padding: 0.5rem 1.5rem;
}
.navbar-custom{
    width: 100%;
    background-color:#343a40;
 
}
.nav-item a {
color: rgb(255, 255, 255);
font: 1em sans-serif;
}


.navbar-nav{
    justify-content: end;
    position: absolute;
    left: 500px;
    color: aliceblue;
}

.navbar-brand .logo-img{
  
    height: 100%;
    width: auto;
    object-fit: contain;
    overflow: hidden;
    margin-right:10px ;
    transform:scale(0.8);
    transform-origin: left center;
}
.navbar {
    height: 60px; /* Altura fixa da barra */
}
.logo-img {
    height: 100%; /* Adapta à altura da barra */
    max-height: 180px; /* Limita o tamanho da logo */
    width: auto; /* Mantém a proporção */
}
.icon{
    height: 100%;
    max-height: 90px;
    width: auto;
}

/*home */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imagens/red-motor-biking-road.jpg);
    background-size: cover;
    background-position: center;

}
section{
    padding: 2rem 7%;
}
.home .contente{
    max-width: 40rem;
}
.home .contente h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: aliceblue;

}
.home .contente p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}
.btn{
    margin-top: 1rem;
    display: inline-block !important;
    padding: 9rem 3rem ;
    font-size: 1.7rem !important;
    color: aliceblue !important;
    background-color: #343a40 !important ;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/*slide de baixo do carrosel*/
.slide-2{
    background-image: url(imagens/driving-green-motorcycle-road.jpg);
    min-height: 100vh;
    width: 100%;
    position: absolute;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 1rem;
}
.content{
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-width:calc(1200px/2) ;
    margin-inline: auto;
    padding: 8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.content::before{
    position: absolute;
    content: "";
    top: -32px;
    right: 0;
    width: 100vw;
    height: 140%;
    background-color: rgba(9, 44, 90, 0.9);
    z-index: -1;
}
.content h1{
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    color: aliceblue;
}
.content h4{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
}
.content h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    color: aliceblue;
}
.content h6{
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color:brown;
}
.content h6 span{
    font-weight: 600;
}
.content form{
    margin-bottom: 2rem;
    width: 100%;
    max-width: 450px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    background-color:white;
}
.content input{
    width: 100%;
    padding: 0.5rem 0.75rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: blue;
    background-color: transparent;
}
.content button{
    padding: 5px 20px;
    outline: none;
    border: none;
    font-size: 1.75rem;
    color: white;
    background-color: blue;
    cursor: pointer;
}
.sociais{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sociais a{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.sociais a:hover{
    color: white;
}
.content{
    padding: 5rem 1rem;
    align-items: flex-start;
    text-align: left;
    margin-inline-start: unset;
}
.content h1{
    font-size: 5rem;
    line-height: 5rem;
}
.content h4{
    font-size: 2rem;
}
.content h2{
    font-size: 2rem;
}
.content form{
    margin-inline-start: unset;
}
/*slide 3*/
.slide-3{
    background-color:#343a40;
    min-height: 120vh;
    width: 100%;
    position:  relative;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
   
}
.slide-3 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 5.5rem;
    margin-bottom: 4.2rem;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.card{
    position: relative;
    left: 25px;
    width: 350px;
    border-radius: 0.5rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    
  
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
/*rodapé*/
html,body{
    height: 100%;
    margin: 0;
}
footer{
    position: relative;
   top: 765px;
    width: 100%;
    background-color: #343a40;
}
@media screen and (max-width: 768px){
    .logo-img{
        position: relative;
        bottom: 70px;
        right: 10px;
        z-index: 2;
    }
    .icon{
        display: none;
    }
    .menu{
        position: relative;
        bottom: 70px; 
      
    }
    
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .contente{
        position: relative;
        bottom: 75px;
    }
    .contente .btn{
        position: relative;
        top: 45px;
    }
    .home .contente h3{
        font-size: 4.5rem;
    }
    .home .contente p{
        font-size: 1.5rem;
    } 
    .slide-3 h1{
        text-align: center;
        justify-content: right;
        font-size: 3.5rem;
    }
    
    .card{
        justify-content: center;
        padding: 1px;
        width: 250px;
    }
    .row{
        position: relative;
      padding: 15px 0 15px 0;
        transition: transform 0.3s ease,box-shadow 0.3s ease;
    }
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }
    .content{
        width: 100%;
       display: flex;
       justify-content: flex-end;
    }
    .content h1{
        font-size: 60px;
    }
    #navbarNav{
        display: none;
        color: #343a40;
    }
    .nav{
            display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    position: absolute;
    bottom: 19px;
    list-style: none;
    right: 9px
    }
    .hamburger{
        display: block;
        z-index: 2;
    }
.hamburger{
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:#343a40;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    z-index: 1 ;
   

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
}
.nav-list li:nth-child(1) a{
    transition: 0.5s 0.2s;
}
.nav-list li:nth-child(2) a{
    transition: 0.5s 0.4s;
}
.nav-list li:nth-child(3) a{
    transition: 0.5s 0.6s;
}


.nav.active .nav-list{
    clip-path: circle( 1500px at 90% -15%);
    

}
.nav.active .nav-list a{
    opacity: 1;
    
}
.nav.active .hamburger{
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
}
.nav.active .hamburger::before{
    transform: rotate(135deg);

}
.nav.active .hamburger::after{
    transform: rotate(-135deg);
    top: -7px;

}
.nav-list{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 35px;
}
.nav-list li a{
    color: #e9eaec;
    text-decoration: none;
}
.nav-list li a:hover{
    color: cornflowerblue;
    
}
}